SED_Coursework/Cruise_Ports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Cruise_Ports">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Cruise_Port">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cruiseid" type="xs:unsignedInt" />
							<xs:element name="portid" type="xs:unsignedInt" />
							<xs:element name="maxdays" type="xs:unsignedInt" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>