SED_Coursework/Cruises.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cruises">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="cruise">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:unsignedInt" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="cost" type="xs:unsignedInt" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>