SED_Coursework/Ports_Trips.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Port_Trips">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Port_Trip">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="portid" type="xs:unsignedInt" />
							<xs:element name="tripid" type="xs:unsignedInt" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>