SED_Coursework/SED_Coursework/Cruise_Passangers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CruisePassangers">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="CruisePassanger">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cruiseid" type="xs:unsignedInt" />
							<xs:element name="passangerpassport" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>