SED_Coursework/SED_Coursework/Cruise_Port_Passanger_Trip.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CPPTs">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="CPPT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cruiseid" type="xs:unsignedByte" />
							<xs:element name="portid" type="xs:unsignedByte" />
							<xs:element name="Passengerpassport" type="xs:string" />
							<xs:element name="tripid" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>